<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Cars</title>
</head>
<body>
<h1>Cars</h1>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars: ${carsForShow}" >
        <td th:text="${cars.getModel()}"/>
        <td th:text="${cars.getSeries()}"/>
        <td th:text="${cars.getPrice()}"/>
    </tr>
    </tbody>
</table>
<br>
<br>
<a href="cars?count=3">Check for cars count = 3</a>
<br>
<br>
<a href="cars?count=6">Check for cars count = 6</a>

</body>
</html>